name: Publish docs, API ref and catalog app
on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: adopt

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build Dokka
        run: |
          ./gradlew :carbon:dokkaHtml
          cp -r carbon/build/dokka docs/dokka

      - name: Dist Catalog App
        run: | 
          ./gradlew wasmJsBrowserDistribution --no-configuration-cache
          mkdir docs/catalog
          cp -r catalog/build/dist/wasmJs/productionExecutable/* docs/catalog

      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV
      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - run: pip install mkdocs-material
      - name: Deploy Documentation
        run: mkdocs gh-deploy --force
